#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%
}
#main-doc {
    margin-left: 25%;
}

header {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
}

p, li, a {
    font-family: Helvetica, Arial, sans-serif;
}

@media (max-height: 500px) {
    #main-doc {
        font-size: 10px;
    }
}