#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 5px solid #306998;
}

.nav-link {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 18px;
}

#main-doc {
    margin-left: 20%;
    padding-left: 3%;
}

.main-section {
    padding: 20px 0px;
}

header {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
}

p, li {
    font-family: Helvetica, Arial, sans-serif;
    color: #646464;
}

code, pre {
    color: #FFD43B;
    width: 90%;
    background-color: #4B8BBE;
}

a {
    text-decoration: none;
}

@media (max-height: 500px) {
    #main-doc {
        font-size: 10px;
    }
}