#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%
}
#main-doc {
    margin-left: 25%;
}
@media (max-height: 500px) {
    #main-doc {
        font-size: 10px;
    }
}